# Allure Reports & Results
allure-results/
allure-report/

# Pytest & Playwright Artifacts
.pytest_cache/
test-results/
playwright-report/
blob-report/

# Python Environments & Cache
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/

# IDE / Editor Files
.idea/
.vscode/
*.swp

# Environment & OS Secrets
.env
.DS_Store
Thumbs.db